# Nama Kelompok :
1. wahyu Aril Saputra (200411100055) (ketua)
2. Billy Morgen Simbolon (200411100057) (anggota)

https://github.com/wahyuarilsaputra/kelompokpro

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('airline-passengers.csv')
dataFrame = pd.DataFrame(data)
dataFrame.head(10)

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121
5  1949-06         135
6  1949-07         148
7  1949-08         148
8  1949-09         136
9  1949-10         119

In [3]:
dataFrame.shape

(144, 2)

In [4]:
x = data['Month']
y = data['Passengers']
# plt.plot(x,y)
print(y.shape)

(144,)

In [5]:
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # Mencari n akhir
    end_ix = i + n_steps
    # Memeriksa urutan terluar dari data
    if end_ix > len(sequence)-1:
      break
    # Menambahkan bagian input dan output
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    print(seq_x, seq_y)
    X.append(seq_x)
    y.append(seq_y)
  return np.array(X), np.array(y)

# Menentukan Waktu dari data time series
jmlh_X = 5
print('Shapes Target = ',y.shape)
#Split data fitur dan target
X, y = split_sequence(y, jmlh_X)
print('Shapes X = ',X.shape)
print('Shapes Y = ',y.shape)

Shapes Target =  (144,)
0    112
1    118
2    132
3    129
4    121
Name: Passengers, dtype: int64 135
1    118
2    132
3    129
4    121
5    135
Name: Passengers, dtype: int64 148
2    132
3    129
4    121
5    135
6    148
Name: Passengers, dtype: int64 148
3    129
4    121
5    135
6    148
7    148
Name: Passengers, dtype: int64 136
4    121
5    135
6    148
7    148
8    136
Name: Passengers, dtype: int64 119
5    135
6    148
7    148
8    136
9    119
Name: Passengers, dtype: int64 104
6     148
7     148
8     136
9     119
10    104
Name: Passengers, dtype: int64 118
7     148
8     136
9     119
10    104
11    118
Name: Passengers, dtype: int64 115
8     136
9     119
10    104
11    118
12    115
Name: Passengers, dtype: int64 126
9     119
10    104
11    118
12    115
13    126
Name: Passengers, dtype: int64 141
10    104
11    118
12    115
13    126
14    141
Name: Passengers, dtype: int64 135
11    118
12    115
13    126
14    141
15    135
Name: Passengers, dtype: int64 125
12    115
13    126
14    141
15    135
16    125
Name: Passengers, dtype: int64 149
13    126
14    141
15    135
16    125
17    149
Name: Passengers, dtype: int64 170
14    141
15    135
16    125
17    149
18    170
Name: Passengers, dtype: int64 170
15    135
16    125
17    149
18    170
19    170
Name: Passengers, dtype: int64 158
16    125
17    149
18    170
19    170
20    158
Name: Passengers, dtype: int64 133
17    149
18    170
19    170
20    158
21    133
Name: Passengers, dtype: int64 114
18    170
19    170
20    158
21    133
22    114
Name: Passengers, dtype: int64 140
19    170
20    158
21    133
22    114
23    140
Name: Passengers, dtype: int64 145
20    158
21    133
22    114
23    140
24    145
Name: Passengers, dtype: int64 150
21    133
22    114
23    140
24    145
25    150
Name: Passengers, dtype: int64 178
22    114
23    140
24    145
25    150
26    178
Name: Passengers, dtype: int64 163
23    140
24    145
25    150
26    178
27    163
Name: Passengers, dtype: int64 172
24    145
25    150
26    178
27    163
28    172
Name: Passengers, dtype: int64 178
25    150
26    178
27    163
28    172
29    178
Name: Passengers, dtype: int64 199
26    178
27    163
28    172
29    178
30    199
Name: Passengers, dtype: int64 199
27    163
28    172
29    178
30    199
31    199
Name: Passengers, dtype: int64 184
28    172
29    178
30    199
31    199
32    184
Name: Passengers, dtype: int64 162
29    178
30    199
31    199
32    184
33    162
Name: Passengers, dtype: int64 146
30    199
31    199
32    184
33    162
34    146
Name: Passengers, dtype: int64 166
31    199
32    184
33    162
34    146
35    166
Name: Passengers, dtype: int64 171
32    184
33    162
34    146
35    166
36    171
Name: Passengers, dtype: int64 180
33    162
34    146
35    166
36    171
37    180
Name: Passengers, dtype: int64 193
34    146
35    166
36    171
37    180
38    193
Name: Passengers, dtype: int64 181
35    166
36    171
37    180
38    193
39    181
Name: Passengers, dtype: int64 183
36    171
37    180
38    193
39    181
40    183
Name: Passengers, dtype: int64 218
37    180
38    193
39    181
40    183
41    218
Name: Passengers, dtype: int64 230
38    193
39    181
40    183
41    218
42    230
Name: Passengers, dtype: int64 242
39    181
40    183
41    218
42    230
43    242
Name: Passengers, dtype: int64 209
40    183
41    218
42    230
43    242
44    209
Name: Passengers, dtype: int64 191
41    218
42    230
43    242
44    209
45    191
Name: Passengers, dtype: int64 172
42    230
43    242
44    209
45    191
46    172
Name: Passengers, dtype: int64 194
43    242
44    209
45    191
46    172
47    194
Name: Passengers, dtype: int64 196
44    209
45    191
46    172
47    194
48    196
Name: Passengers, dtype: int64 196
45    191
46    172
47    194
48    196
49    196
Name: Passengers, dtype: int64 236
46    172
47    194
48    196
49    196
50    236
Name: Passengers, dtype: int64 235
47    194
48    196
49    196
50    236
51    235
Name: Passengers, dtype: int64 229
48    196
49    196
50    236
51    235
52    229
Name: Passengers, dtype: int64 243
49    196
50    236
51    235
52    229
53    243
Name: Passengers, dtype: int64 264
50    236
51    235
52    229
53    243
54    264
Name: Passengers, dtype: int64 272
51    235
52    229
53    243
54    264
55    272
Name: Passengers, dtype: int64 237
52    229
53    243
54    264
55    272
56    237
Name: Passengers, dtype: int64 211
53    243
54    264
55    272
56    237
57    211
Name: Passengers, dtype: int64 180
54    264
55    272
56    237
57    211
58    180
Name: Passengers, dtype: int64 201
55    272
56    237
57    211
58    180
59    201
Name: Passengers, dtype: int64 204
56    237
57    211
58    180
59    201
60    204
Name: Passengers, dtype: int64 188
57    211
58    180
59    201
60    204
61    188
Name: Passengers, dtype: int64 235
58    180
59    201
60    204
61    188
62    235
Name: Passengers, dtype: int64 227
59    201
60    204
61    188
62    235
63    227
Name: Passengers, dtype: int64 234
60    204
61    188
62    235
63    227
64    234
Name: Passengers, dtype: int64 264
61    188
62    235
63    227
64    234
65    264
Name: Passengers, dtype: int64 302
62    235
63    227
64    234
65    264
66    302
Name: Passengers, dtype: int64 293
63    227
64    234
65    264
66    302
67    293
Name: Passengers, dtype: int64 259
64    234
65    264
66    302
67    293
68    259
Name: Passengers, dtype: int64 229
65    264
66    302
67    293
68    259
69    229
Name: Passengers, dtype: int64 203
66    302
67    293
68    259
69    229
70    203
Name: Passengers, dtype: int64 229
67    293
68    259
69    229
70    203
71    229
Name: Passengers, dtype: int64 242
68    259
69    229
70    203
71    229
72    242
Name: Passengers, dtype: int64 233
69    229
70    203
71    229
72    242
73    233
Name: Passengers, dtype: int64 267
70    203
71    229
72    242
73    233
74    267
Name: Passengers, dtype: int64 269
71    229
72    242
73    233
74    267
75    269
Name: Passengers, dtype: int64 270
72    242
73    233
74    267
75    269
76    270
Name: Passengers, dtype: int64 315
73    233
74    267
75    269
76    270
77    315
Name: Passengers, dtype: int64 364
74    267
75    269
76    270
77    315
78    364
Name: Passengers, dtype: int64 347
75    269
76    270
77    315
78    364
79    347
Name: Passengers, dtype: int64 312
76    270
77    315
78    364
79    347
80    312
Name: Passengers, dtype: int64 274
77    315
78    364
79    347
80    312
81    274
Name: Passengers, dtype: int64 237
78    364
79    347
80    312
81    274
82    237
Name: Passengers, dtype: int64 278
79    347
80    312
81    274
82    237
83    278
Name: Passengers, dtype: int64 284
80    312
81    274
82    237
83    278
84    284
Name: Passengers, dtype: int64 277
81    274
82    237
83    278
84    284
85    277
Name: Passengers, dtype: int64 317
82    237
83    278
84    284
85    277
86    317
Name: Passengers, dtype: int64 313
83    278
84    284
85    277
86    317
87    313
Name: Passengers, dtype: int64 318
84    284
85    277
86    317
87    313
88    318
Name: Passengers, dtype: int64 374
85    277
86    317
87    313
88    318
89    374
Name: Passengers, dtype: int64 413
86    317
87    313
88    318
89    374
90    413
Name: Passengers, dtype: int64 405
87    313
88    318
89    374
90    413
91    405
Name: Passengers, dtype: int64 355
88    318
89    374
90    413
91    405
92    355
Name: Passengers, dtype: int64 306
89    374
90    413
91    405
92    355
93    306
Name: Passengers, dtype: int64 271
90    413
91    405
92    355
93    306
94    271
Name: Passengers, dtype: int64 306
91    405
92    355
93    306
94    271
95    306
Name: Passengers, dtype: int64 315
92    355
93    306
94    271
95    306
96    315
Name: Passengers, dtype: int64 301
93    306
94    271
95    306
96    315
97    301
Name: Passengers, dtype: int64 356
94    271
95    306
96    315
97    301
98    356
Name: Passengers, dtype: int64 348
95    306
96    315
97    301
98    356
99    348
Name: Passengers, dtype: int64 355
96     315
97     301
98     356
99     348
100    355
Name: Passengers, dtype: int64 422
97     301
98     356
99     348
100    355
101    422
Name: Passengers, dtype: int64 465
98     356
99     348
100    355
101    422
102    465
Name: Passengers, dtype: int64 467
99     348
100    355
101    422
102    465
103    467
Name: Passengers, dtype: int64 404
100    355
101    422
102    465
103    467
104    404
Name: Passengers, dtype: int64 347
101    422
102    465
103    467
104    404
105    347
Name: Passengers, dtype: int64 305
102    465
103    467
104    404
105    347
106    305
Name: Passengers, dtype: int64 336
103    467
104    404
105    347
106    305
107    336
Name: Passengers, dtype: int64 340
104    404
105    347
106    305
107    336
108    340
Name: Passengers, dtype: int64 318
105    347
106    305
107    336
108    340
109    318
Name: Passengers, dtype: int64 362
106    305
107    336
108    340
109    318
110    362
Name: Passengers, dtype: int64 348
107    336
108    340
109    318
110    362
111    348
Name: Passengers, dtype: int64 363
108    340
109    318
110    362
111    348
112    363
Name: Passengers, dtype: int64 435
109    318
110    362
111    348
112    363
113    435
Name: Passengers, dtype: int64 491
110    362
111    348
112    363
113    435
114    491
Name: Passengers, dtype: int64 505
111    348
112    363
113    435
114    491
115    505
Name: Passengers, dtype: int64 404
112    363
113    435
114    491
115    505
116    404
Name: Passengers, dtype: int64 359
113    435
114    491
115    505
116    404
117    359
Name: Passengers, dtype: int64 310
114    491
115    505
116    404
117    359
118    310
Name: Passengers, dtype: int64 337
115    505
116    404
117    359
118    310
119    337
Name: Passengers, dtype: int64 360
116    404
117    359
118    310
119    337
120    360
Name: Passengers, dtype: int64 342
117    359
118    310
119    337
120    360
121    342
Name: Passengers, dtype: int64 406
118    310
119    337
120    360
121    342
122    406
Name: Passengers, dtype: int64 396
119    337
120    360
121    342
122    406
123    396
Name: Passengers, dtype: int64 420
120    360
121    342
122    406
123    396
124    420
Name: Passengers, dtype: int64 472
121    342
122    406
123    396
124    420
125    472
Name: Passengers, dtype: int64 548
122    406
123    396
124    420
125    472
126    548
Name: Passengers, dtype: int64 559
123    396
124    420
125    472
126    548
127    559
Name: Passengers, dtype: int64 463
124    420
125    472
126    548
127    559
128    463
Name: Passengers, dtype: int64 407
125    472
126    548
127    559
128    463
129    407
Name: Passengers, dtype: int64 362
126    548
127    559
128    463
129    407
130    362
Name: Passengers, dtype: int64 405
127    559
128    463
129    407
130    362
131    405
Name: Passengers, dtype: int64 417
128    463
129    407
130    362
131    405
132    417
Name: Passengers, dtype: int64 391
129    407
130    362
131    405
132    417
133    391
Name: Passengers, dtype: int64 419
130    362
131    405
132    417
133    391
134    419
Name: Passengers, dtype: int64 461
131    405
132    417
133    391
134    419
135    461
Name: Passengers, dtype: int64 472
132    417
133    391
134    419
135    461
136    472
Name: Passengers, dtype: int64 535
133    391
134    419
135    461
136    472
137    535
Name: Passengers, dtype: int64 622
134    419
135    461
136    472
137    535
138    622
Name: Passengers, dtype: int64 606
135    461
136    472
137    535
138    622
139    606
Name: Passengers, dtype: int64 508
136    472
137    535
138    622
139    606
140    508
Name: Passengers, dtype: int64 461
137    535
138    622
139    606
140    508
141    461
Name: Passengers, dtype: int64 390
138    622
139    606
140    508
141    461
142    390
Name: Passengers, dtype: int64 432
Shapes X =  (139, 5)
Shapes Y =  (139,)

In [6]:
newFitur = pd.DataFrame(X, columns=['t-'+str(i+1) for i in range(jmlh_X-1, -1,-1)])
newTarget = pd.DataFrame(y, columns=['Data Prediksi'])

In [7]:
newData = pd.concat([newFitur,newTarget], axis=1)
newData

     t-5  t-4  t-3  t-2  t-1  Data Prediksi
0    112  118  132  129  121            135
1    118  132  129  121  135            148
2    132  129  121  135  148            148
3    129  121  135  148  148            136
4    121  135  148  148  136            119
..   ...  ...  ...  ...  ...            ...
134  419  461  472  535  622            606
135  461  472  535  622  606            508
136  472  535  622  606  508            461
137  535  622  606  508  461            390
138  622  606  508  461  390            432

[139 rows x 6 columns]

In [8]:
from sklearn.preprocessing import MinMaxScaler
training_set = newData.iloc[:100, 1:2].values
test_set = newData.iloc[100:, 1:2].values
scaler = MinMaxScaler(feature_range = (0, 1))
data_training = scaler.fit_transform(training_set)
X_train = []
y_train = []
x = 5
for i in range(x, len(training_set)):
    X_train.append(data_training[i-x:i, 0])
    y_train.append(data_training[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [9]:
xtrainbaru = np.reshape(X_train, (95, 5))
X_train.shape

(95, 5, 1)

In [10]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=3)
modelknn=neigh.fit(xtrainbaru, y_train)

In [11]:
dataset_training = pd.DataFrame(training_set)
dataset_test = pd.DataFrame(test_set)
dataset_total = pd.concat((dataset_training, dataset_test), axis = 0)
inputs = dataset_total[len(dataset_total) - len(dataset_test) - 5:].values

In [12]:
inputs.shape

(44, 1)

In [13]:
inputs =scaler.fit_transform(inputs)
X_test = []
for i in range(5, 45):
    X_test.append(inputs[i-5:i, 0])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
print(X_test.shape)

(40, 5, 1)

In [14]:
xtestbaru = np.reshape(X_test, (40, 5))

In [15]:
predicted_pakan = modelknn.predict(xtestbaru)

predicted_pakan = predicted_pakan.reshape(-1,1)
prediksi= scaler.inverse_transform(predicted_pakan)
dataset_test=dataset_test.iloc[0:40]
# prediksi.shape

In [16]:
from sklearn.metrics import mean_absolute_percentage_error

mean_absolute_percentage_error(dataset_test, prediksi)

ValueError: Found input variables with inconsistent numbers of samples: [39, 40]

In [ ]:
def mae(y_true, predictions):
    y_true, predictions = np.array(y_true), np.array(predictions)
    return np.mean(np.abs(y_true - predictions))

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [ ]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
 gnb = GaussianNB()

In [ ]:
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error

mean_absolute_percentage_error(y_pred, y_test)

0.03333333333333333

In [ ]:
def mae(y_test, y_pred):
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs(y_test - y_pred))

In [ ]:
mae(y_test,y_pred)

0.03333333333333333

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(y_test, y_pred)

0.03333333333333333